<div class="container">
  <div style="background-color: #ffcc00" class="jumbotron">
    <h1>Luna Works<%= image_tag("icon_luna.png", size: "128x128", alt: "logo", class: "logo_icon") %></h1>      
    <p>Diseño de Props y impresiones 3D</p>
  </div> 
</div>
