<div class="container">
  <div style="background-color: #ffcc00" class="jumbotron">
    <h1>Luna Works<%= image_tag("icon_luna.png", size: "128x128", alt: "logo", class: "logo_icon") %></h1>      
    <p>Diseño de props e impresiones 3D</p>
  </div> 
</div>

<!-- Footer -->
<div class="container">
  <footer style="background-color: #ffcc00" class="w3-container w3-padding-32 w3-theme-d1 w3-center">
    
    <h4>Siguenos</h4>
    <a class="w3-button w3-large w3-yellow" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a class="w3-button w3-large w3-yellow" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
    <a class="w3-button w3-large w3-yellow" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
    <a class="w3-button w3-large w3-yellow" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  </footer>
</div>