<div class="container">
    <%= image_tag("b01.png", class: "banners") %>
</div>

<div class="container">
  <div style="background-color: white" class="jumbotron">
    <h1>Diseño de cosplay, props, fabrics y pintura</h1>   
    <div id="circle"></div>
  </div>
</div>



