body{
  background-color: black;
}

#main-container-logo{
  background-color: #ffcc00;
}

.logo_icon{
  margin: 10px 10px;
  -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
  filter: grayscale(80%);
}


